.container {
  border: 1px solid rgb(var(--foreground-rgb));
  padding: .6rem .8rem;
  margin-top: 2rem;
  display: inline-block;
  border-radius: 3px;
  color: rgb(var(--foreground-rgb));
  //&:hover {
  //  background-color: rgb(var(--foreground-rgb));
  //  color: rgb(var(--foreground-rgb));
  //}
}
@media (max-width: 750px) {
  .container {
    margin-top: 0;
  }
}